<div class="row">
  <div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Medico</h4>
            <h6 class="card-subtitle">Creacion o edicion del medico</h6>
            <form class="form-horizontal p-t-20" [formGroup]="medicoForm" (submit)="guardarMedico()">

              <div *ngIf="medicoSeleccionado" class="form-group row">
                <label for="uname" class="col-sm-3 control-label">Foto medico</label>
                <div class="col-sm-9">
                    <div class="input-group">
                      <img [src]="medicoSeleccionado.img | imagen: 'medicos'" (click)="abrirModal(medicoSeleccionado)"  class="cursor w250"/>
                    </div>
                </div>
              </div>

                <div class="form-group row">
                    <label for="uname" class="col-sm-3 control-label">Nombre del medico</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" id="uname" placeholder="Nombre" formControlName="nombre">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="web1" class="col-sm-3 control-label">Hospital</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select class="form-control" formControlName="hospital">
                              <option value="">Seleccione Hospital</option>
                              <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{ hospital.nombre }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row m-b-0">
                    <div class="offset-sm-3 col-sm-9 ">
                        <button type="submit"
                                [disabled]="medicoForm.invalid"
                                class="btn btn-success waves-effect waves-light">
                                Guardar
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">Hospital</h4>
          <h6 class="card-subtitle">Imagen del hospital seleccionado</h6>
          <div class="text-center">
              <img *ngIf="existeHospitalSeleccionado" [src]="hospitalSeleccionado.img | imagen: 'hospitales'"  class="w450"/>
              <img *ngIf="!existeHospitalSeleccionado" src="https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?b=1&s=170667a&w=0&k=20&c=LEhQ7Gji4-gllQqp80hLpQsLHlHLw61DoiVf7XJsSx0=" class="w450">
          </div>
          <div class="text-center" *ngIf="existeHospitalSeleccionado">
            <h4>Informacion del hospital</h4>
            <h5>{{ hospitalSeleccionado.nombre }}</h5>
          </div>
      </div>
    </div>
  </div>

</div>
