
<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <!-- <h3>Usuarios</h3> -->

            <div class="col-12">
              <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Usuarios</h3>
                    <h6 class="card-subtitle">usuarios encontados en tu busqueda actual</h6>
                    <div class="table-responsive">
                      <h3 *ngIf="usuarios.length === 0">No se han encontrado resultados para tu búsqueda en la seccion de  <strong> usuarios</strong></h3>
                          <table *ngIf="usuarios.length !== 0" class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Avatar</th>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Tipo</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let usuario of usuarios; let i = index" >
                                    <td>{{ i + 1 }}</td>
                                    <td>
                                      <img class="w100" [src]="usuario.img | imagen: 'usuarios'">
                                    </td>
                                    <td>{{ usuario.nombre }}</td>
                                    <td>{{ usuario.email  }}</td>
                                    <td>
                                      <span *ngIf="usuario.google" class="label label-success">Google</span>
                                      <span *ngIf="!usuario.google" class="label label-warning">Email</span>
                                    </td>
                                    <td>
                                      <span *ngIf="usuario.role === 'ADMIN_ROLE'" class="label label-danger">ADMIN</span>
                                      <span *ngIf="usuario.role === 'USER_ROLE'" class="label label-info">DEFAULT</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>

          </div>
      </div>
  </div>
  <div class="col-12">
    <div class="card">
        <div class="card-body">
          <!-- <h3>Medicos</h3> -->

          <div class="col-12">
            <div class="card">
              <div class="card-body">
                  <h3 class="card-title">Medicos</h3>
                  <h6 class="card-subtitle">Medicos encontados en tu busqueda actual</h6>
                  <div class="table-responsive">
                      <h3 *ngIf="medicos.length === 0">No se han encontrado resultados para tu búsqueda en la seccion de  <strong> medicos</strong></h3>
                      <table *ngIf="medicos.length !== 0" class="table">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Foto</th>
                                  <th>Nombre</th>
                                  <th>Hospital consignado</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let medico of medicos; let i = index">
                                  <td>{{ i + 1 }}</td>
                                  <td>
                                    <img class="w100" [src]="medico.img | imagen: 'medicos'" alt="">
                                  </td>
                                  <td>{{ medico.nombre }}</td>
                                  <td>{{ medico.hospital.nombre }}</td>
                                  <!-- <td><span class="label label-danger">admin</span> </td> -->
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          </div>

        </div>
    </div>
</div>
<div class="col-12">
  <div class="card">
      <div class="card-body">
        <!-- <h3>Hospitales</h3> -->
        <div class="col-12">

          <div class="card">
              <div class="card-body">
                  <h3 class="card-title">Hospitales</h3>
                  <h6 class="card-subtitle">Hospitales encontados en tu busqueda actual</h6>
                  <div class="table-responsive">
                    <h3 *ngIf="hospitales.length === 0">No se han encontrado resultados para tu búsqueda en la seccion de  <strong> hospitales</strong></h3>
                      <table *ngIf="hospitales.length !== 0" class="table">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Foto</th>
                                  <th>Nombre</th>
                                  <th>Estatus</th>
                              </tr>
                          </thead>
                          <tbody>

                                <tr *ngFor="let hospital of hospitales; let i = index">
                                  <td>{{ i + 1 }}</td>
                                  <td>
                                    <img class="w100" [src]="hospital.img | imagen: 'hospitales'" alt="">
                                  </td>
                                  <td>{{ hospital.nombre }}</td>
                                  <td><span class="label label-danger">Abierto</span> </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>

      </div>
      </div>
  </div>
</div>
</div>
